.wrapper {
  flex: 0 0 32%;
  display: flex;
  padding: 10px; /* gutter width */
}

.product-card {
  /* border: 1px solid black;
  width: 100%;
  max-width: 300px;
  padding: 0.25rem;
   */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
  flex: 0 0 100%;
}

.product-card:hover {
  transition: all 0.25s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.product-image img {
  width: 100%;
}

.product-parameters {
  font: inherit;
  padding: 0.25rem 0.5rem;
}

.product-parameters .title {
  font-weight: 700;
  font-size: 1.5em;
}

.product-parameters .price {
  font-weight: 500;
  font-size: 1.4em;
}

.product-parameters .rating {
  font-size: inherit;
}

.product-parameters .brand {
  font-weight: 100;
}
